@model IncidentViewModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "List Incidents for Technician Manager";
    int? sessionID = Context.Session.GetInt32("sessionID");
}


<h1>Technician: @Model.ActiveTechnician.Name </h1>

<h2>Assigned & Open Incidents</h2>



<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var incident in Model.Incidents)
        {
            <tr>
                <td>@incident.Title</td>
                <td>@incident.Customer.FullName</td>
                <td>@incident.Product.Name</td>
                <td>@incident.DateOpened.ToShortDateString()</td>
                <td>
                    <a asp-controller="TechIncident" asp-action="Edit"
                       asp-route-id="@incident.IncidentID">Edit</a>
                </td>

            </tr>
        }
    </tbody>


</table>

<a asp-controller="TechIncident" asp-action="Get" class="btn btn-success">Switch Technician</a>
